<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/chat.js"></script>
</head>
<body>
    <div class="mainbar">
        <div id="name">
            Chomyeon
        </div>
        <div class="buttons">
            <button id="Chatting">Chatting</button>
            <button id="About">About</button>
            <button id="Contact">Contact</button>
            <button id="logOut">Log out</button>
        </div>
    </div>

    <div class="main">
        <div class="content">
            <video controls>
                <source src="../guitar.mp4" type="video/mp4">
            </video>
            <div class="chat-container">
                <div class="chat-messages"></div>
                <div>
                    <input type="text" id="chat-input" placeholder="메시지를 입력하세요...">
                    <button id="send"onclick="sendMessage()">↑</button>
                </div>
            </div>
        </div>
        <button id="end" onclick="location.href='result.html'">종료하기</div>
    </div>
</body>
</html>